<table class='table table-hover table-inverse table-bordered'>
  <thead class="table-info">
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>1日前</th>
      <th>今日</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <%= ago6_post_count %>
        </td>
        <td>
          <%= ago5_post_count %>
        </td>
        <td>
          <%= ago4_post_count %>
        </td>
        <td>
          <%= ago3_post_count %>
        </td>
        <td>
          <%= ago2_post_count %>
        </td>
        <td>
          <%= previous_post_count %>
        </td>
        <td>
          <%= today_post_count %>
        </td>
      </tr>
  </tbody>
</table>